---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//color variables
$baseTextColor: darken(#7f8c8d, 20%);

//typeface

//Railway
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

//breakpoints
$phone: "all and (max-width: 600px)";
$tablet: "all and (min-width: 800px)";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"columns",
        "base",
        "syntax-highlighting",
        "header",
        "page",
        "content"
;
