---
layout: default
---

<div class="call-to-action">
  <div class="wrapper">
    <p>{{ site.description }}</p>
  </div>
</div>

<div class="experience">
  <div class="wrapper">
    <h2>{{ site.data.about.workCall }}</h2>
    {% for project in site.data.projects %}
      {% if project.name %}
      <div class="project-container columns-4">
        <a class="page-link" href="{{ project.githubLink | prepend: site.baseurl }}">
          <div class="project-tile">
            <p>{{project.name}}</p>
          </div>
        </a>
        <p class="skills">Skills: {{project.skills}}</p>
      </div>
      
      {% endif %}
    {% endfor %}
  </div>
</div>
