<header class="site-header">

  <div class="wrapper">
    <nav class="site-nav">
      <a href="#" class="menu-icon">
      </a>

      <div class="trigger">
        <a class="nav-head" href="/"><img class="header-logo" src="images/dougdoner-logo.png" alt="{{site.title}}"></a>
        {% assign pages = site.pages | sort:"order"  %}
        {% for page in pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
