// functions
@mixin columns($columns) {
  // last number can be changed depending on the size of your grid, if you are using one. Second number in equation is to account for gutters
  width: percentage( ( ( ( 60 * $columns )  + ( 20 * $columns ) )  / 960) );
  padding: 0 10px;
  @media #{$phone} {
    width: 100%;
  }
}

.columns-1 {
  @include columns(1);
}
.columns-2 {
  @include columns(2);
}
.columns-3 {
  @include columns(3);
}
.columns-4 {
  @include columns(4);
}
.columns-5 {
  @include columns(5);
}
.columns-6 {
  @include columns(6);
}
.columns-7 {
  @include columns(7);
}
.columns-8 {
  @include columns(8);
}
.columns-9 {
  @include columns(9);
}
.columns-10 {
  @include columns(10);
}
.columns-11 {
  @include columns(11);
}
.columns-12 {
  @include columns(12);
}