//main content

.call-to-action {
  background: lighten(#BDC3C7, 20%);
  p {
    padding: 90px 0;
    color: black;
    font-size: 1.9em;
    font-weight: 400;
    text-align: center;
  }
  h1 {
    padding: 40px 0;
    color: black;
    font-size: 1.9em;
    font-weight: 400;
  }
}

.experience {
  padding: 20px 0 0 0;
}


//projects tiles


.page-link:hover, .page-link:focus {
  text-decoration: none;
}

.experience .wrapper div:nth-of-type(3n) {
  padding-right: 0;
}

.project-container {
  overflow: hidden;
  float: left;
  clear: right;
  margin-bottom: 20px;
  padding-right: 0;
  @media #{$tablet} {
    margin-bottom: 40px;
    padding-right: 20px;
  }
  .skills {
    padding-top: 5px;
    font-size: .9em;
  }
}

.project-tile {
  height: 200px;
  width: 100%;
  transition: background-size .4s linear, background-color .4s linear;
  background-color: rgba(30, 34, 34, .2);
  background-blend-mode: color;
  
  p {
    color: black;
    transition: font-size .4s linear;
    text-align: center;
    line-height: 200px;
  }

  &:hover, &:focus {
    transition: background-size .4s ease, background-color .4s ease;
    background-size: 100%;
    background-color: rgba(30, 34, 34, .3);
    
    p {
      transition: font-size .25s ease;
      font-size: 1.1em;
    }
  }
}

//project tile background-images

.mineral-school {
  background: rgba(30, 34, 34, .2) no-repeat center/80% url("/images/mineralschool-logo-wa.png");
}

.wise {
  background: rgba(30, 34, 34, .2) no-repeat center/80% url("/images/wise-bg.png");
}

.post-content {
  padding: 20px 0 ;
}

.project-name {
  font-weight: 700;
  margin: 0;
}


//portfolio page styles

.work-container {
  padding-bottom: 30px;
}