.site-header {
	background: lighten(#3498db, 30%);
}

//header logo
.header-logo {
  position: relative;
  top: 20px;
  z-index: 10;
}

.site-nav {
  .trigger a {
    line-height: 60px;
    padding-right: 5px;
    &:link, &:visited {
      color: black;
    }
    font-size: 1.6em;
    &.nav-head {
    padding-right: 40px;
  }
  }
}