.site-header {
	background: darken(#D4D7DC, 60%);
  color: white;
}

//header logo
.header-logo {
  max-width: 50px;
  float: left;
  padding: 5px 10px 0 0;
}

.header-brand {
  padding-top: 8px;
  float: left;
  h1, h2 {
    line-height: 1;
  }
  h1 {
    margin-bottom: 2px;
  }
  h2 {
    margin: 0;
  font-size: 18px;
  font-weight: 100;
  } 
}

.nav-links {
  float: right;
  a {
    line-height: 60px;
    padding-right: 10px;
    &:link, &:visited {
      color: white;
    }
    font-size: 1.6em;
    &.nav-head {
    padding-right: 40px;
    }
  }
}